@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


a{
    color: #fff;
    text-decoration: none;
}
.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    background: slateblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    animation: showcontent 1.5s linear forwards;
    animation-delay: 1.2s;
}

@keyframes showcontent{
    100%{
        visibility: visible;
        opacity: 1;
    }
}

.navbar .logo{
    font-size: 30px;
    font-weight: 700;
}
.navbar ul{
    display: flex;
}

.navbar ul li{
    list-style: none;
    margin-left: 36px;
}
.navbar ul li a{
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
}

.navbar ul li:hover a,
.navbar ul li.active a{
    color: #7cf03d;

}

.home{
    display: flex;
    align-items: center;
    gap: 50px;
    height: 100vh;
    padding: 69px 9% 0;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    animation: showcontent 1.5s linear forwards;
    animation-delay: 1.6s;

}

.homeinfo h1{
    font-size: 55px;
}

.homeinfo h2{
    font-size: 32px;
    margin-top: -10px;
    display: inline-block;
}

.homeinfo h2 span{
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .7px #7cf03d;
    animation:  displaytext 16s linear infinite;
    animation-delay: calc(-4s * var(--i));
}

.homeinfo h2 span::before{
    content: attr(data-text);
    position: absolute;
    width: 0%;
    border-right: 2px solid #7cf03d;
    color: #7cf03d;
    white-space: nowrap;
    overflow: hidden;
    animation:  filltext 4s linear infinite;

}

@keyframes filltext{
    10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}

@keyframes displaytext{
    25%,100%{
        display: none ;
    }
}



.homeinfo p{
    font-size: 16px;
    margin:  10px 0 25px;
}

.homeinfo .btn-sci{
    display: flex;
    align-items: center;
}


.btn{
    display: inline-block;
    padding: 10px 30px;
    background: #7cf03d;
    border: 2px solid #7cf03d;
    border-radius: 40px;
    box-shadow:  0 0 10px #7cf03d;
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
    transition: .5s;

}

.btn:hover{
    background: transparent;
    color: #7cf03d;
    box-shadow: none;
}

.homeinfo .btn-sci .sci{
    margin-left: 20px;
}

.homeinfo .btn-sci .sci a{
    display: inline-flex;
    padding: 8px;
    border: 2px solid #7cf03d;
    border-radius: 50%;
    font-size: 20px;
    color: #7cf03d;
    margin: 0 8px;

}
.homeinfo .btn-sci .sci a:hover{
    background: #7cf03d;
    color: #1f242d;
    box-shadow:  0 0 10px #7cf03d;

}
.homeimg .imgbox{
    width: 32vw;
    height: 32vw;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.homeimg .imgbox::before,
.homeimg .imgbox::after{
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent,transparent,transparent,#7cf03d);
    transform: rotate(0deg);
    animation: rotateborder 10s linear infinite ;
}
.homeimg .imgbox::after{
    animation-delay: -5s;
}
@keyframes rotateborder{
    100%{
        transform: rotate(360deg);
    }
}

.homeimg .imgbox .imgitem{
    position: relative;
    width: 100%;
    height: 100%;
    background: #1f242d;
    border-radius: 50%;
    display: flex;
    z-index: 1;
    border: .1px solid #1f242d ;
    border: 1px solid #1f242d;
    justify-content: center;
    overflow: hidden;

}

.homeimg .imgbox .imgitem img{
    position: absolute;
    display: block;
    top: 30px;
    width: 85%;
    object-fit: cover;
    mix-blend-mode: lighten;
}

.divanimation{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}

.divanimation .bar{
    width: 100%;
    height: 100%;
    background: #1f242d;
    transform: translateY(-100%);
    animation: showbar .5s ease-in-out forwards;
    animation-delay: calc(.1s * var(--i));
}

@keyframes showbar{
    100%{
        transform: translateY(0%);
    }
 
}